*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E8E8E9;
  font-size: 20px;
  font-family: serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

div {
  display: block;
  margin-bottom: 3%;
  width: 100%;
}

.container > h1 {
  font-family: sans-serif;
  font-size: 65%;
  letter-spacing: .15em;
  padding-top: 7%;
  padding-bottom: 7%;
  text-align: center;
  text-transform: uppercase;
}

.preview {
  height: 300px;
}

.preview h1 {
  padding-left: 10%;
  padding-top: 10%;
}

.baku {
  background: url(../images/baku.jpg);
  background-size: cover;
 }

.london {
  background: url(../images/london.png);
  background-size: cover;
}

.madrid {
  background: url(../images/madrid.jpg);
  background-size: cover;
}

.rome {
  background: url(../images/rome.jpg);
  background-size: cover;
}

@media screen and (min-width: 575px){
  .container {
  }
  .preview {
      display: inline-block;
      height: 200px;
      width: 40%;
    }
}

@media screen and (min-width: 991px){
  .container {
  }

  .preview {
    display: inline-block;
    margin: 1%;
    width: 20%;
    height: 150px;
  }
}
